<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
    h1 "Hello World"
    p Outer Paragraph
      .foo a Div with a class of foo
    h2 Let's do some math! #{21+21}
