extends base.pug

block content
  h1 See all the items!
  a(href="/items/new") make a new one!
  ul
    each item in items
      li #{item.name} &nbsp;
        a(href=`/items/${item.id}/edit`) Edit

  form(action='/items/search' method="GET")
    input(type="text", name="q")
    input(type="submit", value="Search")

  br

  form(action=`/items?_method=DELETE` method="POST")
    input(type="submit", value="Delete All Items!")